version: '2'
services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file: .env
    working_dir: /app
    command: bash -c 'rm -rf database/database.sqlite && touch database/database.sqlite && composer update && php artisan migrate && php artisan db:seed && php artisan migrate:fresh --seed && php artisan cache:clear && php artisan config:clear && php artisan view:clear && php artisan serve --host 0.0.0.0'
